@CHARSET "UTF-8";
/*中间部分*/
#centerPart{
	height: 500px;
}
/*表单部分*/
#centerPart #loginPart{
	position:absolute;
	width: 30%; 
	height:250px;
	margin-left:35%;
	margin-top:5%;
	padding-top: 20px;
	
	color:white;
	background: #373737;
	border-radius:10px;
	box-shadow: 10px 10px 5px #000;
	/*border:1px red solid; */
}
#centerPart #loginPart h2{
	font-size:22px;
	text-align: center;
}
#centerPart #loginPart span{
	color:white;
	font-size: 20px;
	margin-left: 18%;
}

#centerPart #loginPart #inputfield{
	border-radius:6px;
	font-size: 18px;
	padding:5px;
	padding-left:12px;
	margin-top:12px;
	color:white;
	background-color: #2e2e2e;
	border: 0;
    border-radius: 5px;
	outline: none;
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}
#centerPart #loginPart .submitarea{
	font-size: 14px;
	margin-top:6%;
	margin-left: 47%;
}
#centerPart #loginPart a{
	color: white;
	margin-right: 2px;
}
#centerPart #loginPart .submitarea a:hover{
	font-size: 15px;
}
